/* Import */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

/* Global */
:root {
  /* Color */
  --color-white : #fff;
  --color-white-gray: #eee;

  /* Font Size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-middle: 20px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-micro: 12px;

  /* Font weight */
  --fweight-semi-bold: 600;
  --fweight-medium: 500;
  --fweight-regular: 400;
  --fweight-light: 300;
  --fweight-extra-light: 200;
  --fweight-thin: 100;

  /* align */
  --align-center: center;
}

/* Universal */
* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  color: var(--color-white);
}
html {
  width: 100vw;
}
body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
ul {
  list-style: none;
}
input {
  border: none;
  background-color: transparent;
  outline: none;
}
input::placeholder {
  color: var(--color-white);
}

/* Option */
.hidden {
  display: none;
}
/* Background */
img{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

/* LoginForm */
#loginForm {
  margin: 40px 0 0 40px;
}
#loginForm > input {
  font-size: var(--font-middle);
  width: fit-content;
  margin-right: 20px;
}
#loginForm > input::placeholder {
  font-size: var(--font-regular);
}

#loginForm > button {
  outline: none;
  padding: 7px 8px;
  border: 1px solid var(--color-white);
  background-color: transparent;
  border-radius: 20px;
  font-size: var(--fweight-medium);
  cursor: pointer;
}
/* ToDoList Typhography */
h3 {
  font-size: var(--font-large);
  text-align: center;
  margin: 0;
  margin-top: 40px;
}

/* Greeting */
#greeting {
  font-size: var(--font-large);
  text-align: var(--align-center);
  margin-top: 40px;
  margin-bottom: 0;
}

/* Clock  & Weather & Quotes*/
.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.clockContainer {
  display: flex;
  align-items: center;
}
.clockContainer > span {
  display: inline-block;
  padding-right: 15px;
  text-align: right;
}
#clock {
  margin: 0;
}
#quote {
  margin-top: 20px;
  font-size: var(--font-small);
  font-weight: var(--fweight-light);
}

/* todoList */
#todoList {
  width: 60%;
  height: 50vh;
  overflow-y: auto;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}
#todoList > li {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#todoList > li > span {
  width: 90%;
  overflow-x: auto;
  font-size: var(--font-middle);
  text-align: left;

}
#todoList > li > button {
  font-weight: var(--fweight-semi-bold);
  background-color: transparent;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  border-radius: 50%;
  transition: all 100ms ease-out;
  cursor: pointer;
}
#todoList > li > button:hover {
  color: var(--color-white);
  background-color: rgb(0, 60, 106);
}

/* todoForm */
#todoForm {
  width: 100%;
  text-align: var(--align-center);
}
#todoForm > input {
  width: 80%;
  text-align: var(--align-center);
  font-size: var(--font-middle);
  background-color: rgba(255,255,255,.2);
}

@media screen and (max-width: 768px) {

  :root {
    /* Font Size */
    --font-large: 30px;
    --font-medium: 20px;
    --font-middle: 18px;
    --font-regular: 14px;
    --font-small: 12px;
    --font-micro: 10px;
  }

}